
<mat-toolbar layout="fill">
	<footer class="footer">
		<div class="container">
		<div class="content has-text-centered">
		  <p>
			Copyright {{year}} - AcmeSurg - {{title}}
		  </p>
		</div>
		</div>
	</footer>
</mat-toolbar>