<mat-toolbar color="primary" layout="fill">
		<button [routerLink]="['/']" class="mat-button">
			<span class="mat-button-wrapper"><img id="logo" [src] = "logo" class="logo" /></span>
			{{ title }}
			<div class="mat-button-ripple mat-ripple" matripple=""></div>
		<div class="mat-button-focus-overlay"></div>
		</button>
		
	
	<span class="fill-remaining-space"></span>
	<button aria-haspopup="true" mat-button [matMenuTriggerFor]="menu" class="mat-button">
		<span class="mat-button-wrapper"><mat-icon>help</mat-icon> Help 
			<mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">arrow_drop_down</mat-icon>
		</span>
		<div class="mat-button-ripple mat-ripple" matripple=""></div>
		<div class="mat-button-focus-overlay"></div>
	</button>
	<mat-menu #menu="matMenu">
		<button [routerLink]="['/help']" class="mat-button">
			<span class="mat-button-wrapper">Help</span>
			<div class="mat-button-ripple mat-ripple" matripple=""></div>
		<div class="mat-button-focus-overlay"></div>
		</button>
	</mat-menu>
</mat-toolbar>
