<div class="container" novalidate>


  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <mat-form-field class="form-element">
      <mat-label>Select Facility:</mat-label>
      <mat-select formControlName='location'>
        <mat-option *ngFor="let loc of _allLocations | async" [value]="loc.facilityId">
          {{loc.facilityName}} ({{loc.facilityId}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput [matDatepicker]="date" placeholder="Choose a date" formControlName='date' [matDatepickerFilter]="dateFilter" >
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date ></mat-datepicker>
    </mat-form-field>


    <div class="form-element">
        <div *ngIf="!post; else elseBlock"> <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">View
            Schedule</button></div>
        <ng-template #elseBlock> <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
            Refresh</button></ng-template>
      
    </div>

  </form>
  <div *ngIf="post">
   
    <mat-card>
      <span class="warning">{{ansMessage}}</span>
      <span class="fill-remaining-space"> </span>
      <span>
      <button mat-raised-button color="primary" (click)="exportToExcel()" class="md-button-right" >
        <mat-icon fontSet="fa" fontIcon="fa-file-excel"></mat-icon>Export</button>
      </span>
      </mat-card>
            
    <div class="schedule-container mat-elevation-z8">

      <mat-table #TABLE [dataSource]="dataSource" matSort matSortActive="teammateType" matSortDirection="asc">

        <ng-container matColumnDef="teammateName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Teammate </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.teammateName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="teammateType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.teammateType}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="monday" >
          <mat-header-cell *matHeaderCellDef > Monday {{post.date | date: 'M/dd'}} </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="{'highlight': row.teammateType == 'Anesthesia' && (row.monday != 'OFF' && row.monday != 'CLOSED')  }"> {{row.monday}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tuesday">
          <mat-header-cell *matHeaderCellDef > Tuesday {{postedDate.setDate(post.date.getDate() + 1) | date: 'M/dd'}} </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="{'highlight': row.teammateType == 'Anesthesia' && (row.tuesday != 'OFF' && row.tuesday != 'CLOSED')}"> {{row.tuesday}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="wednesday">
          <mat-header-cell *matHeaderCellDef> Wednesday {{postedDate.setDate(post.date.getDate() + 2) | date: 'M/dd'}} </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="{'highlight': row.teammateType == 'Anesthesia' && (row.wednesday != 'OFF' && row.wednesday != 'CLOSED')}"> {{row.wednesday}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="thursday">
          <mat-header-cell *matHeaderCellDef > Thursday {{postedDate.setDate(post.date.getDate() + 3) | date: 'M/dd'}} </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="{'highlight': row.teammateType == 'Anesthesia' && (row.thursday != 'OFF' && row.thursday != 'CLOSED')}"> {{row.thursday}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="friday">
          <mat-header-cell *matHeaderCellDef > Friday {{postedDate.setDate(post.date.getDate() + 4) | date: 'M/dd'}} </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="{'highlight': row.teammateType == 'Anesthesia' && (row.friday != 'OFF' && row.friday != 'CLOSED')}"> {{row.friday}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="saturday">
          <mat-header-cell *matHeaderCellDef > Saturday {{postedDate.setDate(post.date.getDate() + 5) | date: 'M/dd'}} </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="{'highlight': row.teammateType == 'Anesthesia' && (row.saturday != 'OFF' && row.saturday != 'CLOSED')}"> {{row.saturday}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sunday">
          <mat-header-cell *matHeaderCellDef > Sunday {{postedDate.setDate(post.date.getDate() + 6) | date: 'M/dd'}}</mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="{'highlight': row.teammateType == 'Anesthesia' && (row.sunday != 'OFF' && row.sunday != 'CLOSED')}"> {{row.sunday}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" >
          
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
    </div>
  </div>