.container 
	padding: 10px 
.form 
	min-width: 150px 
	max-width: 500px 
	width: 100% 
.form-element 
	padding: 5px 0px 25px 2px 
	width: 100% 
.button 
	width: 100% 
.tr.mat-header-row, .tr.mat-row 
	display: flex
.highlight
	background-color: green
.warning
	background-color: yellow
.md-button-right
	position: absolute
	right: 0px
	margin: 0

